.login {
	display: flex;
	flex-direction: row;
	flex-basis: 300px;

	&__enter-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		&--hidden {
			display: none;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;

		&--hidden {
			display: none;
		}
	}

	&__user {
		.font("Cuprum", sans-serif; 1.3125rem; 45px; 400; #000000);
		position: relative;
		width: 100%;
		margin-bottom: 7px;
		padding-left: 48px;
		box-sizing: border-box;

		&::before {
			content: '';
			position: absolute;
			top: 31%;
			left: 13px;
			width: 20px;
			height: 18px;
			background-image: @icon-user;
			background-repeat: no-repeat;
			background-position: 100% 100%;
			opacity: 0.5;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	&__logout {
		position: absolute;
		top: 31%;
		right: 10px;
		width: 20px;
		height: 17px;
		background-image: @icon-logout;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		font-size: 0;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	&__person-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		max-width: 240px;
		box-sizing: border-box;
	}

	&__person-link {
		.font("Cuprum", sans-serif; 1rem; 18px; 400; @dark-blue-h);

		&:nth-child(odd) {
			&::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 4px;
				height: 4px;
				margin-left: 13px;
				background-color: @dark-blue-h;
				border-radius: 50%;
			}
		}

		&:hover {
			color: @red;
		}

		&:active {
			color: @dark-blue-h;
			opacity: 0.5;
		}
	}

	&__my-order {
		padding-left: 11px;
	}

	&__enter, &__registry {
		.font("Cuprum", sans-serif; 1.3125rem; 45px; 400; #000000);
		text-align: center;
		box-sizing: border-box;

		&:hover {
			color: @dark-red;
		}

		&:active {
			opacity: 0.5;
			color: #000000;
		}
	}

	&__enter {
		position: relative;
		flex-basis: 121px;
		height: 45px;
		margin-left: 19px;
		padding-left: 20px;

		&::before {
			content: '';
			position: absolute;
			top: 14px;
			left: 14px;
			width: 20px;
			height: 17px;
			background-image: @icon-login;
			background-repeat: no-repeat;
			background-position: 100% 100%;
		}

		&:hover {
			&::before {
				background-image: @icon-login--blue;
			}
		}
	}

	&__registry {
		flex-basis: 150px;
		height: 45px;
	}
}
